.page-title{
    color: #A5E65A !important;
    font-size: 2.5em !important;
    font-family: "Montserrat Medium" !important;
    font-weight: bold !important;
    letter-spacing: 2px !important;
}

.choose-perso-title{
    color: #D6FFF6 !important;
    font-size: 1.3em !important;
    font-family: "Montserrat Medium" !important;
    font-weight: bold !important;
    letter-spacing: 2px !important;
}

.romain-text{
    color: #231651 !important;
    font-size: 1.4em !important;
    font-family: "Roboto" !important;
    font-weight: bold !important;
    letter-spacing: 2px !important;
}

.choose-perso-title-inverse{
    color: #231651 !important;
    font-size: 1.3em !important;
    font-family: "Montserrat Medium" !important;
    font-weight: bold !important;
    letter-spacing: 2px !important;
}

.persoselect {
    background-color: lightgray;
}